$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import "~bootstrap/scss/bootstrap";
@import './custom';
@import './command_line';

:root {
  --dark-gray: #000000BB;
  --text-color: lightblue;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 450px;
  max-width: 100%;
  background-color: var(--dark-gray);

  .sidebar-sticky {
    background-color: var(--dark-gray);
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
  }

  .toggle {
    position: absolute;
    right: 0;
    z-index: 10;
  }
}

.whoami {
  &:after {
    content: "";
    background: url('../images/bg.png');
    background-size: contain;
    background-position: top;
    background-repeat: repeat-x;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
